@import "./variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
    // background: url('../images/background.jpg');
    // background-size: cover;
}

#root {
    height: 100vh;
}

.logo {
    width: 100%;
}

.upload-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-modal {
    width: 900px;
}