@import "./variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
    // background: url('../images/background.jpg');
    // background-size: cover;
}

#root {
    height: 100vh;
}

.logo {
    width: 100%;
}

.upload-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-modal {
    width: 900px;
}

.card {
    cursor: pointer;
    transition: border-color .25s ease-in;

    &:hover {
        border-color: $primary;
    }

    .card-image img {
        height: 100%;
        width: auto;
    }
}

.card-select-btn {
    position: absolute;
    left: 0;
    margin-left: 6px;
    color: $gray-400;
}

.card-select-on {
    color: $primary;
}

.card-menu-btn {
    position: absolute;
    right: 0;
    margin-right: 6px;
    color: $gray-400;

    &:hover {
        color: $primary;
    }
}

.card-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    font-size: .8rem;
    position: absolute;
    z-index: 100;
    width: max-content;
    top: 25px;
    left: calc(100% - 25px);

    >span {
        margin-bottom: .5rem;
        cursor: pointer;

        &:hover {
            color: $primary;
        }

        >svg {
            margin-right: .5rem;
        }
    }
}

.card-menu.offset {
    left: inherit;
    right: 25px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.asset-toolbar {
    border: 1px solid rgba($black, .125);
    border-radius: 0.25rem;
    font-size: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
        display: flex;
        list-style: none;
        padding: 10px 10px;
        margin-bottom: 0;

        @media (min-width: 576px) {
            margin-right: 1rem;
        }


        @media (min-width: 1200px) {
            border-right: 1px solid rgba($black, .125);
        }

        >li {
            cursor: pointer;

            @media (min-width: 576px) {
                margin-right: 1rem;
            }

            &:hover {
                color: $primary;
            }

        }

    }

    ul:last-child {
        margin-right: 0;
        border-right: none;

        li:last-child {

            margin-right: 0
        }
    }

    span {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

.asset-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -1rem;
    top: 0;
    width: 33vw;
    height: calc(100vh - 150px);
    background-color: $white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    overflow-y: scroll;
    animation: .25s ease-in-out slidein;

    .asset-panel-close {
        position: absolute;
        top: 0;
        left: 0;
        margin: .5rem;
        cursor: pointer;
        color: rgba($black, .25);

        &:hover {
            color: $primary;
        }
    }

    .asset-panel-preview {
        display: flex;
        justify-content: center;
        height: 25vh;
        background-color: lightgrey;

        img {
            width: auto;
            height: 100%;
        }
    }

    .asset-panel-actions {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 2rem 0;

        .action {
            margin-left: 1rem;
            color: rgba($black, .25);
            cursor: pointer;

            &:hover {
                color: $primary;
            }
        }
    }

    form {
        padding: 2rem;
    }
}

@keyframes slidein {
    from {
        right: -100rem;
    }

    to {
        right: -1rem;
    }
}