$primary: #4a903c;
// $secondary: $gray-600 !default;
$success: #4a903c;
// $info: $cyan !default;
$warning: #f69f03;
$danger: #ce071c;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;

$card-height: 100%;
$card-spacer-x: .5rem;